In [100]:
import pandas as pd

In [101]:
data = pd.read_csv('data2/지역별 불면증 진료현황(2019년~2023년).csv', encoding='cp949', header=1)
data

,Unnamed: 0,Unnamed: 1,요양급여비용,입내원일수,환자수,요양급여비용.1,입내원일수.1,환자수.1,요양급여비용.2,입내원일수.2,환자수.2,요양급여비용.3,입내원일수.3,환자수.3,요양급여비용.4,입내원일수.4,환자수.4
0,서울,강남구,"2,250,892,120","65,525","17,735","2,510,325,950","69,164","18,078","3,185,903,480","77,132","19,505","3,569,405,680","80,756","20,406","3,830,723,980","83,695","21,526"
1,서울,강동구,"959,336,830","29,862","7,287","994,359,150","30,624","7,314","1,110,480,690","33,565","8,234","1,179,221,620","33,682","8,250","1,286,698,670","33,844","8,568"
2,서울,강서구,"818,595,450","26,034","6,663","960,554,120","28,871","7,177","1,175,697,510","32,104","7,650","1,378,877,420","33,972","8,198","1,743,829,850","36,942","8,930"
3,서울,관악구,"591,982,060","23,076","5,741","674,464,970","23,990","5,960","790,426,300","25,491","6,172","881,758,870","26,441","6,530","981,775,010","27,593","6,573"
4,서울,구로구,"392,042,720","16,142","4,747","422,793,300","17,334","4,984","479,455,850","18,168","5,081","550,567,360","19,137","5,439","595,704,420","19,995","5,619"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,경남,거제시,"226,988,790","9,541","2,748","263,745,250","11,020","2,861","316,700,750","12,815","3,076","340,376,100","13,054","3,142","375,379,140","13,943","3,328"
250,경남,양산시,"436,910,680","15,881","4,062","542,528,240","18,333","4,560","686,319,380","21,830","5,066","702,081,290","22,320","5,094","702,024,150","22,178","5,101"
251,제주,서귀포시,"181,113,250","7,624","2,003","225,174,770","8,610","2,286","265,372,870","9,529","2,528","279,199,130","9,397","2,525","270,975,820","9,343","2,406"
252,제주,제주시,"623,513,340","22,883","5,514","670,758,840","24,035","5,696","703,376,010","24,684","6,014","737,700,100","24,720","5,916","795,603,370","26,022","6,224"
253,세종,세종시,"112,855,990","5,245","1,751","150,260,820","6,543","2,174","195,203,000","7,941","2,529","253,979,470","8,687","2,826","319,103,540","9,583","2,910"

In [102]:
# 사라진 컬럼명을 찾아서
data.rename(columns={data.columns[0]: '시도', data.columns[1]: '시군구'}, inplace=True)

In [103]:
# 서울, 경기, 인천만 추출
data = data[(data['시도'].isin(['서울', '경기', '인천']))]
data

,시도,시군구,요양급여비용,입내원일수,환자수,요양급여비용.1,입내원일수.1,환자수.1,요양급여비용.2,입내원일수.2,환자수.2,요양급여비용.3,입내원일수.3,환자수.3,요양급여비용.4,입내원일수.4,환자수.4
0,서울,강남구,"2,250,892,120","65,525","17,735","2,510,325,950","69,164","18,078","3,185,903,480","77,132","19,505","3,569,405,680","80,756","20,406","3,830,723,980","83,695","21,526"
1,서울,강동구,"959,336,830","29,862","7,287","994,359,150","30,624","7,314","1,110,480,690","33,565","8,234","1,179,221,620","33,682","8,250","1,286,698,670","33,844","8,568"
2,서울,강서구,"818,595,450","26,034","6,663","960,554,120","28,871","7,177","1,175,697,510","32,104","7,650","1,378,877,420","33,972","8,198","1,743,829,850","36,942","8,930"
3,서울,관악구,"591,982,060","23,076","5,741","674,464,970","23,990","5,960","790,426,300","25,491","6,172","881,758,870","26,441","6,530","981,775,010","27,593","6,573"
4,서울,구로구,"392,042,720","16,142","4,747","422,793,300","17,334","4,984","479,455,850","18,168","5,081","550,567,360","19,137","5,439","595,704,420","19,995","5,619"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,경기,화성시,"609,953,330","20,989","6,528","711,596,980","24,373","7,111","765,997,260","25,999","7,620","933,902,620","28,598","8,181","981,221,120","29,895","8,727"
116,경기,광주시,"294,341,940","12,316","3,375","309,404,310","12,560","3,465","325,813,740","12,832","3,592","393,633,180","14,317","3,893","405,164,330","14,509","4,070"
117,경기,양주시,"143,080,670","7,006","1,996","173,206,290","7,593","2,196","200,483,690","8,331","2,405","232,553,490","8,950","2,513","265,687,010","10,157","2,785"
118,경기,포천시,"62,527,220","3,726","1,219","72,426,100","3,688","1,241","78,984,710","3,934","1,291","60,357,760","3,634","1,245","86,944,000","4,280","1,408"
119,경기,여주시,"75,429,200","3,978","1,308","97,517,090","4,730","1,450","139,813,250","6,037","1,684","174,358,640","7,119","1,791","200,219,800","7,855","1,897"

In [104]:
# 중구 중복 처리
data.loc[(data['시도']=='서울')&(data['시군구']=='중구'), '시군구'] = '서울중구'
data.loc[(data['시도']=='인천')&(data['시군구']=='중구'), '시군구'] = '인천중구'

C:\Users\user\AppData\Local\Temp\ipykernel_11900\1882424070.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.loc[(data['시도']=='서울')&(data['시군구']=='중구'), '시군구'] = '서울중구'
C:\Users\user\AppData\Local\Temp\ipykernel_11900\1882424070.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.loc[(data['시도']=='인천')&(data['시군구']=='중구'), '시군구'] = '인천중구'

In [105]:
# 2019년 데이터만 추출
data1 = data.iloc[:, [0, 1, 4]]
data1

     시도  시군구       환자수
0    서울  강남구   17,735
1    서울  강동구    7,287
2    서울  강서구    6,663
3    서울  관악구    5,741
4    서울  구로구    4,747
..   ..  ...       ...
115  경기  화성시    6,528
116  경기  광주시    3,375
117  경기  양주시    1,996
118  경기  포천시    1,219
119  경기  여주시    1,308

[80 rows x 3 columns]

In [106]:
# 컬럼명 환자수로 통일
data1.rename(columns={data1.columns[2]: '환자수'}, inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_11900\2596605422.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1.rename(columns={data1.columns[2]: '환자수'}, inplace=True)

In [107]:
# 시군구 코드 만들기
data1['시군구코드'] = data1['시군구'] + '1'

C:\Users\user\AppData\Local\Temp\ipykernel_11900\3967543052.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['시군구코드'] = data1['시군구'] + '1'

In [108]:
# 2020년 데이터만 추출
data2 = data.iloc[:, [0, 1, 7]]

In [109]:
# 컬럼명 환자수로 통일
data2.rename(columns={data2.columns[2]: '환자수'}, inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_11900\2864896197.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2.rename(columns={data2.columns[2]: '환자수'}, inplace=True)

In [110]:
# 시군구 코드 만들기
data2['시군구코드'] = data2['시군구'] + '2'

C:\Users\user\AppData\Local\Temp\ipykernel_11900\2948313475.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['시군구코드'] = data2['시군구'] + '2'

In [111]:
# 2021년 데이터만 추출
data3 = data.iloc[:, [0, 1, 10]]
data3.rename(columns={data3.columns[2]: '환자수'}, inplace=True)
data3

C:\Users\user\AppData\Local\Temp\ipykernel_11900\4250897195.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data3.rename(columns={data3.columns[2]: '환자수'}, inplace=True)

     시도  시군구       환자수
0    서울  강남구   19,505
1    서울  강동구    8,234
2    서울  강서구    7,650
3    서울  관악구    6,172
4    서울  구로구    5,081
..   ..  ...       ...
115  경기  화성시    7,620
116  경기  광주시    3,592
117  경기  양주시    2,405
118  경기  포천시    1,291
119  경기  여주시    1,684

[80 rows x 3 columns]

In [112]:
# 시군구 코드 만들기
data3['시군구코드'] = data3['시군구'] + '3'

C:\Users\user\AppData\Local\Temp\ipykernel_11900\3340585691.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data3['시군구코드'] = data3['시군구'] + '3'

In [113]:
# 2022년 데이터만 추출
data4 = data.iloc[:, [0, 1, 13]]
data4.rename(columns={data4.columns[2]: '환자수'}, inplace=True)
data4

C:\Users\user\AppData\Local\Temp\ipykernel_11900\4272829925.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data4.rename(columns={data4.columns[2]: '환자수'}, inplace=True)

     시도  시군구       환자수
0    서울  강남구   20,406
1    서울  강동구    8,250
2    서울  강서구    8,198
3    서울  관악구    6,530
4    서울  구로구    5,439
..   ..  ...       ...
115  경기  화성시    8,181
116  경기  광주시    3,893
117  경기  양주시    2,513
118  경기  포천시    1,245
119  경기  여주시    1,791

[80 rows x 3 columns]

In [114]:
# 시군구 코드 만들기
data4['시군구코드'] = data4['시군구'] + '4'

C:\Users\user\AppData\Local\Temp\ipykernel_11900\1230650079.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data4['시군구코드'] = data4['시군구'] + '4'

In [115]:
# 데이터 합치기
sleep = pd.concat([data1, data2, data3, data4], axis=0)
sleep

     시도  시군구       환자수 시군구코드
0    서울  강남구   17,735   강남구1
1    서울  강동구    7,287   강동구1
2    서울  강서구    6,663   강서구1
3    서울  관악구    5,741   관악구1
4    서울  구로구    4,747   구로구1
..   ..  ...       ...   ...
115  경기  화성시    8,181   화성시4
116  경기  광주시    3,893   광주시4
117  경기  양주시    2,513   양주시4
118  경기  포천시    1,245   포천시4
119  경기  여주시    1,791   여주시4

[320 rows x 4 columns]

In [116]:
sleep['시군구'].unique()

array(['강남구', '강동구', '강서구', '관악구', '구로구', '도봉구', '동대문구', '동작구', '마포구',
       '서대문구', '성동구', '성북구', '영등포구', '용산구', '은평구', '종로구', '서울중구', '송파구',
       '중랑구', '양천구', '서초구', '노원구', '광진구', '강북구', '금천구', '인천미추홀구', '인천동구',
       '인천부평구', '인천중구', '인천서구', '인천남동구', '인천연수구', '인천계양구', '인천강화군',
       '인천옹진군', '가평군', '양평군', '연천군', '광명시', '동두천시', '부천시', '부천소사구',
       '부천오정구', '부천원미구', '성남수정구', '성남중원구', '성남분당구', '수원권선구', '수원장안구',
       '수원팔달구', '수원영통구', '안양만안구', '안양동안구', '의정부시', '과천시', '구리시', '안산단원구',
       '안산상록구', '평택시', '하남시', '군포시', '남양주시', '의왕시', '시흥시', '오산시', '고양덕양구',
       '고양일산서구', '고양일산동구', '용인기흥구', '용인수지구', '용인처인구', '이천시', '파주시', '김포시',
       '안성시', '화성시', '광주시', '양주시', '포천시', '여주시'], dtype=object)

In [117]:
# 시군구 고유값인지 확인
if (sleep['시군구코드'].value_counts() > 1).any():
    print('시군구 고유값이 아닙니다.')
else:
    print('시군구 고유값입니다.')

시군구 고유값입니다.

In [118]:
# 데이터 저장
sleep.to_csv('data2/불면증.csv', index=False)
# 시군구명 조금 다른 건 그냥 엑셀에서 바꿀게요

## 배달

In [119]:
column_names = ['년', '시군구코드','광역시도명','시군구명','세대구성대분류명','세대구성중분류명','세대구성소분류명','단위','빈도']
df = pd.read_csv('data2/KGU_2nd_ORIGIN_KGURESIDEINFO_20211013000000.csv', names=column_names, header=None)
df

          년  시군구코드    광역시도명  시군구명 세대구성대분류명 세대구성중분류명    세대구성소분류명  단위       빈도
0      2020  11110    서울특별시   종로구   1세대 가구       부부        일반가구  가구     8752
1      2020  11110    서울특별시   종로구   1세대 가구       부부     주택_단독주택  가구     3162
2      2020  11110    서울특별시   종로구   1세대 가구       부부      주택_아파트  가구     2628
3      2020  11110    서울특별시   종로구   1세대 가구       부부     주택_연립주택  가구      836
4      2020  11110    서울특별시   종로구   1세대 가구       부부    주택_다세대주택  가구     1406
...     ...    ...      ...   ...      ...      ...         ...  ..      ...
82495  2020  50130  제주특별자치도  서귀포시   비친족 가구   비친족 가구     가구원수 4명  가구       43
82496  2020  50130  제주특별자치도  서귀포시   비친족 가구   비친족 가구     가구원수 5명  가구       21
82497  2020  50130  제주특별자치도  서귀포시   비친족 가구   비친족 가구     가구원수 6명  가구  다섯가구 미만
82498  2020  50130  제주특별자치도  서귀포시   비친족 가구   비친족 가구  가구원수 7명 이상  가구  다섯가구 미만
82499  2020  50130  제주특별자치도  서귀포시   비친족 가구   비친족 가구     평균 가구원수   명      2.2

[82500 rows x 9 columns]

In [120]:
column_names = ['년', '시군구코드','광역시도명','시군구명','세대구성대분류명','세대구성중분류명','세대구성소분류명','단위','빈도']
df1 = pd.read_csv('data2/KGU_2nd_ORIGIN_KGURESIDEINFO_20200918000000.csv', names=column_names, header=None)
df1

           년  시군구코드    광역시도명  시군구명 세대구성대분류명 세대구성중분류명    세대구성소분류명  단위       빈도
0       2015  11110    서울특별시   종로구   1세대 가구       부부        일반가구  가구     8162
1       2015  11110    서울특별시   종로구   1세대 가구       부부     주택_단독주택  가구     3409
2       2015  11110    서울특별시   종로구   1세대 가구       부부      주택_아파트  가구     1873
3       2015  11110    서울특별시   종로구   1세대 가구       부부     주택_연립주택  가구      784
4       2015  11110    서울특별시   종로구   1세대 가구       부부    주택_다세대주택  가구     1290
...      ...    ...      ...   ...      ...      ...         ...  ..      ...
412495  2019  50130  제주특별자치도  서귀포시   비친족 가구   비친족 가구     가구원수 4명  가구       53
412496  2019  50130  제주특별자치도  서귀포시   비친족 가구   비친족 가구     가구원수 5명  가구       23
412497  2019  50130  제주특별자치도  서귀포시   비친족 가구   비친족 가구     가구원수 6명  가구  다섯가구 미만
412498  2019  50130  제주특별자치도  서귀포시   비친족 가구   비친족 가구  가구원수 7명 이상  가구  다섯가구 미만
412499  2019  50130  제주특별자치도  서귀포시   비친족 가구   비친족 가구     평균 가구원수   명      2.2

[412500 rows x 9 columns]

In [121]:
# 필요없는 컬럼 삭제
df.drop(columns=['시군구코드','세대구성대분류명','세대구성중분류명','세대구성소분류명','단위'], inplace=True)
df1.drop(columns=['시군구코드','세대구성대분류명','세대구성중분류명','세대구성소분류명','단위'], inplace=True)

In [122]:
# 다섯가구 미만을 5로 변경
df['빈도'].replace({'다섯가구 미만':'5'},inplace=True)
df1['빈도'].replace({'다섯가구 미만':'5'},inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_11900\1857048795.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['빈도'].replace({'다섯가구 미만':'5'},inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_11900\1857048795.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['빈도'].replace({'다섯가구 미만':'5'},inplace=True)

In [123]:
df['빈도'].astype(float)
df1['빈도'].astype(float)

0         8162.0
1         3409.0
2         1873.0
3          784.0
4         1290.0
           ...
412495      53.0
412496      23.0
412497       5.0
412498       5.0
412499       2.2
Name: 빈도, Length: 412500, dtype: float64

In [124]:
# 중구 중복 처리
df.loc[(df['광역시도명']=='서울특별시')&(df['시군구명']=='중구'), '시군구명'] = '서울중구'
df.loc[(df['광역시도명']=='인천광역시')&(df['시군구명']=='중구'), '시군구명'] = '인천중구'

df1.loc[(df1['광역시도명']=='서울특별시')&(df1['시군구명']=='중구'), '시군구명'] = '서울중구'
df1.loc[(df1['광역시도명']=='인천광역시')&(df1['시군구명']=='중구'), '시군구명'] = '인천중구'

In [125]:
# 서울, 경기, 인천만 추출
df = df[(df['광역시도명'].isin(['서울특별시', '경기도', '인천광역시']))]
df1 = df1[(df1['광역시도명'].isin(['서울특별시', '경기도', '인천광역시']))]

In [ ]:
# '빈도' 컬럼을 숫자형으로 변환
df['빈도'] = pd.to_numeric(df['빈도'], errors='coerce')

# 중복된 시군구명 행을 첫 행만 남기고 나머지 삭제
df = df.drop_duplicates(subset=['시군구명'], keep='first')

# 빈도 컬럼을 중복된 시군구명의 총합 대체(밑에 주석도 총합인데 평균으로 되어있어요)
df['빈도'] = df.groupby('시군구명')['빈도'].transform('sum')

# 중복된 시군구명 행을 다시 삭제하여 평균값이 반영된 첫 행만 남기기
df = df.drop_duplicates(subset=['시군구명'], keep='first')

C:\Users\user\AppData\Local\Temp\ipykernel_11900\395627793.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['빈도'] = pd.to_numeric(df['빈도'], errors='coerce')

In [127]:
# 2017년 데이터만 추출
data1 = df1[df1['년'] == 2017]
# 시군구코드 만들기
data1['시군구코드'] = data1['시군구명'] + '1'
data1

C:\Users\user\AppData\Local\Temp\ipykernel_11900\4208069739.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['시군구코드'] = data1['시군구명'] + '1'

           년  광역시도명 시군구명    빈도 시군구코드
165000  2017  서울특별시  종로구  8410  종로구1
165001  2017  서울특별시  종로구  3257  종로구1
165002  2017  서울특별시  종로구  2234  종로구1
165003  2017  서울특별시  종로구   837  종로구1
165004  2017  서울특별시  종로구  1322  종로구1
...      ...    ...  ...   ...   ...
224087  2017    경기도  양평군    24  양평군1
224088  2017    경기도  양평군    10  양평군1
224089  2017    경기도  양평군     5  양평군1
224090  2017    경기도  양평군     5  양평군1
224091  2017    경기도  양평군   2.2  양평군1

[25410 rows x 5 columns]

In [132]:
# '빈도' 컬럼을 숫자형으로 변환
data1['빈도'] = pd.to_numeric(data1['빈도'], errors='coerce')

# 중복된 시군구명 행을 첫 행만 남기고 나머지 삭제
data1 = data1.drop_duplicates(subset=['시군구명'], keep='first')

# 빈도 컬럼을 중복된 시군구명의 평균값으로 대체
data1['빈도'] = data1.groupby('시군구명')['빈도'].transform('sum')

# 중복된 시군구명 행을 다시 삭제하여 평균값이 반영된 첫 행만 남기기
data1 = data1.drop_duplicates(subset=['시군구명'], keep='first')

C:\Users\user\AppData\Local\Temp\ipykernel_11900\202187820.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['빈도'] = pd.to_numeric(data1['빈도'], errors='coerce')
C:\Users\user\AppData\Local\Temp\ipykernel_11900\202187820.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['빈도'] = data1.groupby('시군구명')['빈도'].transform('sum')

In [134]:
# 2018년 데이터만 추출
data2 = df1[df1['년'] == 2018]
# 시군구코드 만들기
data2['시군구코드'] = data2['시군구명'] + '2'

C:\Users\user\AppData\Local\Temp\ipykernel_11900\1003817426.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['시군구코드'] = data2['시군구명'] + '2'

In [135]:
# '빈도' 컬럼을 숫자형으로 변환
data2['빈도'] = pd.to_numeric(data2['빈도'], errors='coerce')

# 중복된 시군구명 행을 첫 행만 남기고 나머지 삭제
data2 = data2.drop_duplicates(subset=['시군구명'], keep='first')

# 빈도 컬럼을 중복된 시군구명의 평균값으로 대체
data2['빈도'] = data2.groupby('시군구명')['빈도'].transform('sum')

# 중복된 시군구명 행을 다시 삭제하여 평균값이 반영된 첫 행만 남기기
data2 = data2.drop_duplicates(subset=['시군구명'], keep='first')

C:\Users\user\AppData\Local\Temp\ipykernel_11900\1757337762.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['빈도'] = pd.to_numeric(data2['빈도'], errors='coerce')

In [136]:
# 2019년 데이터만 추출
data3 = df1[df1['년'] == 2018]
# 시군구코드 만들기
data3['시군구코드'] = data3['시군구명'] + '3'

C:\Users\user\AppData\Local\Temp\ipykernel_11900\3924285452.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data3['시군구코드'] = data3['시군구명'] + '3'

In [137]:
# '빈도' 컬럼을 숫자형으로 변환
data3['빈도'] = pd.to_numeric(data3['빈도'], errors='coerce')

# 중복된 시군구명 행을 첫 행만 남기고 나머지 삭제
data3 = data3.drop_duplicates(subset=['시군구명'], keep='first')

# 빈도 컬럼을 중복된 시군구명의 평균값으로 대체
data3['빈도'] = data3.groupby('시군구명')['빈도'].transform('sum')

# 중복된 시군구명 행을 다시 삭제하여 평균값이 반영된 첫 행만 남기기
data3 = data3.drop_duplicates(subset=['시군구명'], keep='first')

C:\Users\user\AppData\Local\Temp\ipykernel_11900\3845252868.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data3['빈도'] = pd.to_numeric(data3['빈도'], errors='coerce')

In [138]:
# 2020년 -> df
# 시군구코드 만들기
data4 = df
data4['시군구코드'] = data4['시군구명'] + '4'

In [139]:
# 데이터 합치기
delivery = pd.concat([data1, data2, data3, data4], axis=0)

In [141]:
delivery.to_csv('data2/배달_전처리.csv', index=False)

In [157]:
# 엑셀로 이름 맞춰주고 부천시 데이터 결측치 떄문에 부천시 하나 남기고 삭제함
data1 = pd.read_csv('data2/불면증.csv', encoding='cp949')
data2 = pd.read_csv('data2/배달_전처리.csv', encoding='cp949')

# 두 데이터프레임을 합치기
df = pd.merge(data1, data2, on='시군구코드', how='left')

In [159]:
df.isnull().sum()

시도       0
시군구      0
환자수      0
시군구코드    0
년        0
광역시도명    0
시군구명     0
빈도       0
dtype: int64

In [162]:
df.drop(columns=['년','시군구명'], inplace=True)

In [164]:
df

     시도  시군구     환자수 시군구코드 광역시도명     빈도
0    서울  강남구  17,735  강남구1    서울  26140
1    서울  강동구   7,287  강동구1    서울  23031
2    서울  강서구   6,663  강서구1    서울  32279
3    서울  관악구   5,741  관악구1    서울  26629
4    서울  구로구   4,747  구로구1    서울  24344
..   ..  ...     ...   ...   ...    ...
303  경기  화성시   8,181  화성시4    경기  46138
304  경기  광주시   3,893  광주시4    경기  26116
305  경기  양주시   2,513  양주시4    경기  15684
306  경기  포천시   1,245  포천시4    경기  11594
307  경기  여주시   1,791  여주시4    경기   9126

[308 rows x 6 columns]

In [163]:
df.to_csv('data2/년도통합데이터.csv', index=False)

In [3]:
import pandas as pd
df =pd.read_csv('data2/년도통합데이터.csv')
df

     시도  시군구     환자수 시군구코드 광역시도명     빈도
0    서울  강남구  17,735  강남구1    서울  26140
1    서울  강동구   7,287  강동구1    서울  23031
2    서울  강서구   6,663  강서구1    서울  32279
3    서울  관악구   5,741  관악구1    서울  26629
4    서울  구로구   4,747  구로구1    서울  24344
..   ..  ...     ...   ...   ...    ...
303  경기  화성시   8,181  화성시4    경기  46138
304  경기  광주시   3,893  광주시4    경기  26116
305  경기  양주시   2,513  양주시4    경기  15684
306  경기  포천시   1,245  포천시4    경기  11594
307  경기  여주시   1,791  여주시4    경기   9126

[308 rows x 6 columns]

In [ ]:
import pandas as pd

In [9]:
col = ['신고년도','시도','시군구','총신고수','가정폭력신고수','데이트폭력신고수','성폭력신고수','몰래카메라신고수','살인신고수','강도신고수','절도신고수','폭력신고수']

In [10]:
df1 = pd.read_csv('data2/범죄 빈발지 데이터 2019.csv', names=col, header=None)
df3 = pd.read_csv('data2/범죄 빈발지 데이터 2021.csv', names=col, header=None)
df4 = pd.read_csv('data2/범죄 빈발지 데이터 2022.csv', names=col, header=None)
df5 = pd.read_csv('data2/범죄 빈발지 데이터 2023.csv', names=col, header=None)

In [11]:
df1

,신고년도,시도,시군구,총신고수,가정폭력신고수,데이트폭력신고수,성폭력신고수,몰래카메라신고수,살인신고수,강도신고수,절도신고수,폭력신고수
0,RPRT_YR,CTPR,SIGNGU,TOT_RPRT_CNT,HMVLN_RPRT_CNT,DTVLNCE_RPRT_CNT,SXVLC_RPRT_CNT,HDNCMR_RPRT_CNT,MRDR_RPRT_CNT,INTSY_RPRT_CNT,THEFT_RPRT_CNT,VIOLNC_RPRT_CNT
1,﻿2019,강원도,강릉시,6885,1174,306,144,1,1,7,1308,3945
2,2019,강원도,고성군,321,84,13,4,0,0,0,64,156
3,2019,강원도,동해시,2088,491,46,22,0,0,0,411,1118
4,2019,강원도,삼척시,1177,235,44,12,0,0,0,252,634
...,...,...,...,...,...,...,...,...,...,...,...,...
246,2019,충청북도,청주시 상당구,4757,809,144,97,0,0,2,1220,2485
247,2019,충청북도,청주시 서원구,6146,1262,237,137,0,2,7,1532,2969
248,2019,충청북도,청주시 청원구,3846,806,201,93,2,2,3,936,1805
249,2019,충청북도,청주시 흥덕구,8467,1601,515,180,0,1,17,2092,4061
250,2019,충청북도,충주시,4286,863,130,56,0,10,2,1072,2153

In [13]:
# 서울, 경기도, 인천광역시 데이터만 추출
valid_regions = ['서울특별시', '경기도', '인천광역시']
df1 = df1[df1['시도'].isin(valid_regions)]
df3 = df3[df3['시도'].isin(valid_regions)]
df4 = df4[df4['시도'].isin(valid_regions)]
df5 = df5[df5['시도'].isin(valid_regions)]

In [15]:
def remove_junggu(df):
    df.loc[(df['시도']=='서울특별시')&(df['시군구']=='중구'), '시군구'] = '서울중구'
    df.loc[(df['시도']=='인천광역시')&(df['시군구']=='중구'), '시군구'] = '인천중구'
    return df

In [16]:
df1 = remove_junggu(df1)
df3 = remove_junggu(df3)
df4 = remove_junggu(df4)
df5 = remove_junggu(df5)

C:\Users\user\AppData\Local\Temp\ipykernel_13456\1122542193.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[(df['시도']=='서울특별시')&(df['시군구']=='중구'), '시군구'] = '서울중구'
C:\Users\user\AppData\Local\Temp\ipykernel_13456\1122542193.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[(df['시도']=='인천광역시')&(df['시군구']=='중구'), '시군구'] = '인천중구'

In [21]:
df1

        시도       시군구   총신고수
19     경기도       가평군   1293
20     경기도   고양시 덕양구  13733
21     경기도  고양시 일산동구  10840
22     경기도  고양시 일산서구   7817
23     경기도       과천시    862
..     ...       ...    ...
177  인천광역시       부평구  57716
178  인천광역시        서구  19427
179  인천광역시       연수구  15757
180  인천광역시       옹진군    260
181  인천광역시      인천중구   5578

[77 rows x 3 columns]

In [19]:
def col_remove(df):
    df.drop(columns=['신고년도','가정폭력신고수','데이트폭력신고수','성폭력신고수','몰래카메라신고수','살인신고수','강도신고수','절도신고수','폭력신고수'], inplace=True)
    return df

In [20]:
df1 = col_remove(df1)
df3 = col_remove(df3)
df4 = col_remove(df4)
df5 = col_remove(df5)

C:\Users\user\AppData\Local\Temp\ipykernel_13456\3925659436.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['신고년도','가정폭력신고수','데이트폭력신고수','성폭력신고수','몰래카메라신고수','살인신고수','강도신고수','절도신고수','폭력신고수'], inplace=True)

In [22]:
make_code = lambda x: x + '1'
df1['시군구코드'] = df1['시군구'].apply(make_code)
df5['시군구코드'] = df5['시군구'].apply(make_code)
df3['시군구코드'] = df3['시군구'].apply(make_code)
df4['시군구코드'] = df4['시군구'].apply(make_code)

C:\Users\user\AppData\Local\Temp\ipykernel_13456\492870199.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['시군구코드'] = df1['시군구'].apply(make_code)

In [24]:
# 데이터 병합
crime = pd.concat([df1, df3, df4, df5], axis=0)

In [28]:
crime

      시도       시군구   총신고수      시군구코드
19   경기도       가평군   1293       가평군1
20   경기도   고양시 덕양구  13733   고양시 덕양구1
21   경기도  고양시 일산동구  10840  고양시 일산동구1
22   경기도  고양시 일산서구   7817  고양시 일산서구1
23   경기도       과천시    862       과천시1
..   ...       ...    ...        ...
135  경기도       포천시   2401       포천시1
151  경기도       광주시   5615       광주시1
182  경기도       양평군   1553       양평군1
188  경기도       가평군    909       가평군1
192  경기도       연천군    501       연천군1

[308 rows x 4 columns]

In [26]:
df = pd.read_csv('data2/년도통합데이터.csv', encoding='cp949')

df = pd.merge(df, crime, on='시군구코드', how='left')

In [29]:
df.isnull().sum()

시도_x       0
시군구_x      0
환자수        0
시군구코드      0
빈도         0
시도_y     231
시군구_y    231
총신고수     231
dtype: int64

In [5]:
dic = {'총신고수':0}
type(dic)

dict